.projects {
	gap: 1rem;
	padding-bottom: 2rem;
}

.project-image {
	width: 100%;
	height: auto;
}

.technology-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.technology-item {
	display: flex;
	align-items: center;
}

.button-container {
	display: flex;
	gap: 0.5rem;
}