.button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1rem;
	width: 8rem;
	height: 3rem;
	border: 1px solid black;
	border-radius: 0.5rem;
}

.button svg {
	width: 1.75rem;
}

.light {
	background-color: var(--bg-color);
}

.light:hover {
	background-color: #d2d7d5;
}

.dark {
	background-color: #111111;
	color: white;
}

.dark:hover {
	background-color: #292929;
}

@media (min-width: 1024px) {
	.button {
		font-size: 1.25rem;
		width: 10rem;
		height: 3.5rem;
	}

	.button svg {
		width: 2.25rem;
	}
}
