.button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 6.5rem;
	height: 2.25rem;
	border: 1px solid black;
	border-radius: 0.5rem;
}

.button svg {
	width: 1.5rem;
}

.light {
	background-color: var(--bg-color);
}

.light:hover {
	background-color: #d2d7d5;
}

.dark {
	background-color: #111111;
	color: white;
}

.dark:hover {
	background-color: #292929;
}
