.background,
.description {
	font-size: clamp(1rem, 0.5vw + 1rem, 2.5rem);
	text-align: left;
}

.background {
	margin: 1.5rem 0;
}

@media (min-width: 768px) {
	.about {
		max-width: 90%;
	}

	.background {
		margin: 2rem 0;
	}
}

@media (min-width: 1024px) {
	.background {
		margin: 2.5rem 0;
	}
}

@media (min-width: 1440px) {
	.background {
		margin: 3rem 0;
	}
}

@media (min-width: 1920px) {
	.background {
		margin: 4rem 0;
	}
}
