.about h1 {
	font-size: clamp(2.5rem, 2.5vw + 1rem, 5.5rem);
}

.background,
.description {
	font-size: clamp(0.75rem, 0.75vw + 1rem, 3rem);
	margin: 1rem 0;
	text-align: left;
}

.about img {
	max-width: 100%;
	margin: 1rem 0
}


