.topbar {
	position: fixed;
	top: 0;
	z-index: 100;
	display: flex;
	height: 6rem;
	width: 100%;
	background-color: var(--bg-color);
}

.topbar .container {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.navigation {
	font-size: clamp(2rem, 1.5vw + 1rem, 3.25rem);
}

.burger {
	width: 2.5rem;
	height: 2.5rem;
	border: none;
	stroke-width: 2.25px;
	background-color: var(--bg-color);
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.topbar .container {
		align-items: center;
		justify-content: center;
	}

	.topbar .navigation {
		display: flex;
		gap: 6rem;
	}

	.navigation li {
		position: relative;
		margin-bottom: -0.25rem;
	}

	.navigation li::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -0.5rem;
		width: 0;
		height: 0.25rem;
		background: var(--accent-color);
		transition: width 0.3s ease;
	}

	.navigation li:hover::after {
		width: 100%;
	}
}

@media (min-width: 1280px) {
	.topbar .container {
		justify-content: flex-end;
	}

	.navigation {
		gap: 4rem;
	}
}

@media (min-width: 1440px) {
	.navigation {
		gap: 6rem;
	}
}

@media (min-width: 1920px) {
	.topbar {
		height: 8rem;
	}

	.navigation {
		margin-right: 0.5rem;
	}
}
