.skill-container {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 0.75rem 1.5rem;
}

.skill-item {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.skill-item svg {
	width: 1.75rem;
	flex-shrink: 0;
}

.skill-item p {
	font-size: 1.05rem;
}

@media (min-width: 1024px) {
	.skill-container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.skill-item {
		gap: 1rem;
		width: 100%;
	}

	.skill-item svg {
		width: 2.75rem;
	}

	.skill-item p {
		font-size: 2.5rem;
	}
}

@media (min-width: 1280px) {
	.skill-container {
		gap: 2.5rem;
	}
}
