.skill-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.skill-item {
	display: flex;
	align-items: center;
}

@media (min-width: 1024px) {
	.skill-container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.skill-item {
		font-size: 2.5rem;
		gap: 1rem;
	}

	.skill-item svg {
		width: 2.75rem;
	}
}

@media (min-width: 1280px) {
	.skill-container {
		gap: 2.5rem;
	}
}