.section {
	height: 100dvh;
	width: 100%;
	padding-top: 8rem;
	text-align: center;
}

.section svg {
	width: 2.5rem;
	stroke-width: 1.5px;
}

.home h1 {
	font-size: 4rem;
	padding: 1rem 0.5rem;
}

.home h2 {
	font-size: 2rem;
	padding: 1rem 0;
}

.selfie {
	width: 100%;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 1rem 0;
}

@media (min-width: 768px) {
	.home {
		display: flex;
		align-items: center;
	}

	.selfie {
		height: 100%;
		width: auto;
		order: 1;
	}

	.header-container {
		order: 2;
	}

	.header-container h1 {
		font-size: 7rem;
		font-weight: 400;
	}

	.header-container h2 {
		font-size: 2.5rem;
	}
}
