.section {
	height: 100dvh;
	width: 100%;
	padding-top: 8rem;
	text-align: center;
}

.section svg {
	width: clamp(2.5rem, 3.5vw + 1rem, 4.5rem);
	height: auto;
	stroke-width: 1.5px;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.header-container h1,
.header-container h2 {
	margin: 0.5rem 0;
}

.header-container h1,
.header-container h2 {
	font-weight: 400;
}

.header-container h1 {
	font-size: clamp(4rem, 6vw + 2rem, 10.425rem);
	word-spacing: 120%;
}

.header-container h2 {
	font-size: clamp(2rem, 1.85vw + 1rem, 3.85rem);
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}

.icon-container a {
	display: flex;
}

.selfie {
	width: 100%;
	max-width: 100%;
	height: auto;
	align-self: center;
	object-fit: cover;
	margin-top: auto;
}

@media (min-width: 768px) {
	.section {
		padding-top: 8rem;
	}
}

@media (min-width: 1024px) {
	.home {
		flex-direction: row;
		align-items: center;
	}

	.selfie {
		order: 1;
		max-width: 100%;
		height: auto;
	}

	.is-right {
		order: 2;
		display: flex;
		justify-content: flex-end;
	}

	.header-container {
		flex: 0 0 50%;
	}

	.selfie {
		flex: 0 0 50%;
	}
}

@media (min-width: 1280px) {
	.section {
		padding-top: 14rem;
	}

	.header-container h1,
	.header-container h2 {
		margin: 1rem 0;
	}

	.icon-container {
		margin-top: 4rem;
	}

	.header-container {
		flex: 0 0 50%;
	}

	.selfie {
		flex: 0 0 50%;
	}
}

@media (min-width: 1440px) {
	.icon-container {
		gap: 3rem;
	}

	.header-container {
		flex: 0 0 50%;
	}

	.selfie {
		flex: 0 0 50%;
	}
}
